doctype html
html
    head
        title= title
        link(rel="stylesheet", href="/css/style.css")
        script(src="/js/main.js")
        script(src="/socket.io/socket.io.js")
    body
        include ./components/header.pug
        h1= message

        if rooms && rooms.length
            include ./components/room.list.pug