header(class='header')
    div
        div(class='header__logo') RoomCMS
        nav(class='header__nav nav')
            ul(class='nav__list')
                li(class='nav__item')
                    a(class='nav__link' href='/') Главня
                    a(class='nav__link' href='/') Не главня
        div
            include ./login.pug