div(class='login')
    if user
        div(class='login__name')= user.userId
        button(class='login__logout') Выйти
    else
        form(class='login__form' action='/auth/login' method='post')
            div(class='login__field')
                label(class='login__label')
                input(class='login__form-input' type='email' name='email')
            div(class='login__field')
                label(class='login__label')
                input(class='login__form-input' type='password' name='password')
            button(class='login__submit') Авторизоваться
        div(class='form__error') Неверный логин | пароль